<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html">
			<img src="assets/img/logo.png" alt="" />
			</a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown">
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="#">Program</a>
                </li>
                <li class="dropdown">
                  <a href="#">Profil</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Tentang</a></li>
                    <li><a href="#">Visi dan Misi</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Struktur Organisasi</a></li>
                  </ul>
                </li>
                <li>
                  <a href="berita.html">Berita</a>     
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  <!-- Subhead
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Single post</h3>
              <p>
                Lorem ipsum dolor sit amet, modus salutatus honestatis ex mea. Sit cu probo putant. Nam ne impedit atomorum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Single post</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span8">
          <!-- start article full post -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">Bondowoso Kampayekan Penerapan Teknologi untuk Pacu Produktivitas Pertanian</a></h3>
            </div>
            <div class="clearfix">
            </div>
            <img src="assets/img/dummies/blog2.jpg" alt="" />
            <ul class="post-meta">
              <li class="first"><i class="icon-calendar"></i><span>SENIN, 28 AGUSTUS 2017</span></li>
              <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
              <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
            </ul>
            <div class="clearfix">
            </div>
            <p>
              Untuk memaksimalkan produktivitas pertanian, Dinas Pertanian (Disperta) Kabupaten Bondowoso menggelar Gelar Teknologi (Geltek) Pertanian yang dilaksanakan di desa Lojajar, Kecamatan Tenggarang, Bondowoso, Jawa Timur. Kepala Disperta Kabupaten Bondowoso, H Munandar mengatakan ada 215  varietas tanaman yang ditampilkan. Varietas tersebut meliputi tanaman pangan, perkebunan, hortikultura dan peternakan. 
            </p>
            <blockquote>
              <p>
                <i class="icon-64 icon-quote-left left"></i> Salah satu teknologi yang diperkenalkan Disperta Bondowoso diantaranya Polikultur. Polikultur merupakan usaha pertanian yang membudidayakan berbagai jenis tanaman pertanian pada lahan yang sama. Sistem ini meniru keanekaragaman ekosistem alami dan menghindari pertanaman tunggal atau monokultur."Ada lagi teknologi pemeliharaan satu cabang yang bisa digunakan untuk budidaya melon," kata Munandar, Senin (28/8/2017).Disperta Bondowoso yang saat ini tengah mengembangkan bawang merah juga mengenalkan teknologi pertanian bawang merah menggunakan biji. Dengan teknologi ini, pertanian bawang merah tidak lagi memerlukan ketinggian tertentu sehingga bisa ditanam diseluruh kecamatan yang ada di Bondowoso. "Selain bisa ditanam diseluruh kecamatan juga bisa menekan ongkos tanam karena tidak perlu membeli benih," ujarnya. 
              </p>
            </blockquote>
            <p>
              Untuk bidang peternakan, Disperta mengenalkan teknologi fermentasi rumput sehingga dapat menyiasati kelangkaan rumput pada musim kemarau. Pelaksaan Geltek ini diikuti oleh seluruh Penyuluh Pertanian Lapang (PPL) Balai Penyuluhan (BP) Tangsil. Kegiatan ini akan dilaksanakan selama enam bulan dan akan berakhir pada bulan Oktober mendatang. Lahan untuk Geltek ini kurang lebih seluas dua hektar milik petani yang disewa."Semoga dengan ini bisa meningkatkan kesejahteraan para petani," ucapnya. (*)
            </p>
          </article>
          <!-- end article full post -->
          <h4>Comments</h4>
          <ul class="media-list">
            <li class="media">
              <a class="pull-left" href="#">
				<img class="media-object" src="assets/img/small-avatar.png" alt="" />
				</a>
              <div class="media-body">
                <h5 class="media-heading"><a href="#">John doe</a></h5>
                <span>3 March, 2013</span>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
                <a href="#">Reply</a>
                <!-- Nested media object -->
                <div class="media">
                  <a class="pull-left" href="#">
						<img class="media-object" src="assets/img/small-avatar.png" alt="" />
						</a>
                  <div class="media-body">
                    <h5 class="media-heading"><a href="#">Tom slayer</a></h5>
                    <span>3 March, 2013</span>
                    <p>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </p>
                    <a href="#">Reply</a>
          </ul>
          <div class="comment-post">
            <h4>Leave a comment</h4>
            <form action="#" method="post" class="comment-form" name="comment-form">
              <div class="row">
                <div class="span3">
                  <label>Name <span>*</span></label>
                  <input type="text" class="input-block-level" placeholder="Your name" />
                </div>
                <div class="span3">
                  <label>Email <span>*</span></label>
                  <input type="text" class="input-block-level" placeholder="Your email" />
                </div>
                <div class="span6">
                  <label>URL</label>
                  <input type="text" class="input-block-level" placeholder="Your website url" />
                </div>
                <div class="span8">
                  <label>Comment <span>*</span></label>
                  <textarea rows="9" class="input-block-level" placeholder="Your comment"></textarea>
                  <button class="btn btn-small btn-success" type="submit">Submit comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="span4">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
              </form>
            </div>
            <div class="widget">
              <h4>Categories</h4>
              <ul class="cat">
                <li><a href="#">Tanaman Padi  (114)</a></li>
                <li><a href="#">Tanaman Kopi  (15)</a></li>
                <li><a href="#">Tutorial and tips (20)</a></li>
                <li><a href="#">Penerapan Teknologi (15)</a></li>
                <li><a href="#">Hasil Panen (10)</a></li>
              </ul>
            </div>
            <div class="widget">
              <h4>Recent posts</h4>
              <ul class="recent-posts">
                <li><a href="#">Dinas Pertanian Bondowoso Anggarkan Pengadaan Alat Penggiling Padi</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 03 April, 2017</span>
                  <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                </li>
                <li><a href="#">Bondowoso Terus Kembangkan Pertanian Organik</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 26 Januari, 2017</span>
                  <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                </li>
              </ul>
            </div>
            <div class="widget">
              <h4>Tags</h4>
              <ul class="tags">
                <li><a href="#" class="btn">Tutorial</a></li>
                <li><a href="#" class="btn">Tricks</a></li>
                <li><a href="#" class="btn">Padi</a></li>
                <li><a href="#" class="btn">Kopi</a></li>
                <li><a href="#" class="btn">Panen</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <h5>Browse pages</h5>
            <ul class="regular">
              <li><a href="#">Work for us</a></li>
              <li><a href="#">Creative process</a></li>
              <li><a href="#">Case study</a></li>
              <li><a href="#">Scaffold awwards</a></li>
              <li><a href="#">Meet the team</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <h5>Recent blog posts</h5>
            <ul class="regular">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Mea malis nominavi insolens ut</a></li>
              <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
              <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="index.html">
							<img src="assets/img/logo-dark.png" alt="" />
						</a>
            <!-- end logo -->
            <address>
							<strong>Registered Companyname, Inc.</strong><br>
							 8895 Somename Ave, Suite 600<br>
							 San Francisco, CA 94107<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Serenity - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="assets/js/sequence/setting.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>


</body>

</html>
