<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/css/prettyPhoto.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html">
			<img src="assets/img/logo.png" alt="" />
			</a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown">
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="#">Program</a>
                </li>
                <li class="dropdown">
                  <a href="#">Profil</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Tentang</a></li>
                    <li><a href="#">Visi dan Misi</a></li>
                    <li><a href="#">Galeri</a></li>
                    <li><a href="#">Struktur Organisasi</a></li>
                  </ul>
                </li>
                <li>
                  <a href="berita.html">Berita</a>     
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  <!-- Subhead
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Single post</h3>
              <p>
                Lorem ipsum dolor sit amet, modus salutatus honestatis ex mea. Sit cu probo putant. Nam ne impedit atomorum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Single post</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span8">
          <!-- start article full post -->
          <article class="blog-post">
            <div class="post-heading">
              <h3><a href="#">Bondowoso Terus Kembangkan Pertanian Organik</a></h3>
            </div>
            <div class="clearfix">
            </div>
            <img src="assets/img/dummies/blog3.jpg" alt="" />
            <ul class="post-meta">
              <li class="first"><i class="icon-calendar"></i><span>KAMIS, 26 JANUARI 2017</span></li>
              <li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>
              <li class="last"><i class="icon-tags"></i><span><a href="#">Design</a>, <a href="#">Blog</a>, <a href="#">Tutorial</a></span></li>
            </ul>
            <div class="clearfix">
            </div>
            <p>
             emerintah Kabupaten Bondowoso, Jawa Timur terus mengembangkan sektor pertanian organik di sejumlah titik, guna meningkatkan pendapatan para petani setempat. Munandar, Kepala Dinas Pertanian dan Kehutanan Kabupaten Bondowoso mengatakan pihaknya  akan terus mengembangkan program pertanian padi organik. Saat ini, selain di Desa Lombok Kulon, dinas telah melakukan studi kelaikan lahan pertanian di Desa Sulek dan Desa Sumbermalang, Kecamatan Wringin.
            </p>
            <blockquote>
              <p>
                <i class="icon-64 icon-quote-left left"></i> "Yang di Sulek masih kita lakukan uji kelaikan, nanti kalau sudah memenuhi akan kita lakukan uji coba penanaman," ujarnya saat Panen Padi Organik di Desa Lombok Kulon (26/01/2017). Di dua desa tersebut, lanjut dia, ada sekitar 25 hektare (ha) lahan pertanian yang diproyeksikan untuk dijadikan pengembangan pertanian organik dan untuk sumber air di kawasan itu sudah mencukupi dan layak. Ia menjelaskan untuk pengembangan lahan pertanian organi harus dilakukan uji kelaikan lahan yang akan menjadi tempat penanaman tanaman organik oleh tim dari dinas pertanian di Kota Tapai itu. 
              </p>
            </blockquote>
            <p>
              "Memang kalau sumber airnya sudah bagus, tetapi sampai saat ini khusus studi kelaikan di dua desa itu kami belum menerima datanya dari tim yang melakukan uji kelaikan. Karena lahan pertanian organik banyak persyaratannya jadi kami masih menunggu dan kami menargetkan di dua desa itu bisa mulai berjalan penanamannnya," katanya menjelaskan.Munandar menyebutkan, jumlah lahan pertanian organik di Bondowoso sampai saat ini saat ini berjumlah 128 hektare lahan bersertifikat organik nasional dan 40 hektare diantaranya masih dalam proses mendapatkan sertifikat organik. "Selain itu kita juga berupaya mendapatkan sertifikasi organik internasional. Lahan pertanian organik yang telah mendapat sertifikasi organik tersebar di Desa Lombok Kulon, Kecamatan Wonosari dan Desa Taal, Kecamatan Tapen," paparnya.(*)            
            </p>
          </article>
          <!-- end article full post -->
          <h4>Comments</h4>
          <ul class="media-list">
            <li class="media">
              <a class="pull-left" href="#">
				<img class="media-object" src="assets/img/small-avatar.png" alt="" />
				</a>
              <div class="media-body">
                <h5 class="media-heading"><a href="#">John doe</a></h5>
                <span>3 March, 2013</span>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </p>
                <a href="#">Reply</a>
          </ul>
          <div class="comment-post">
            <h4>Leave a comment</h4>
            <form action="#" method="post" class="comment-form" name="comment-form">
              <div class="row">
                <div class="span3">
                  <label>Name <span>*</span></label>
                  <input type="text" class="input-block-level" placeholder="Your name" />
                </div>
                <div class="span3">
                  <label>Email <span>*</span></label>
                  <input type="text" class="input-block-level" placeholder="Your email" />
                </div>
                <div class="span6">
                  <label>URL</label>
                  <input type="text" class="input-block-level" placeholder="Your website url" />
                </div>
                <div class="span8">
                  <label>Comment <span>*</span></label>
                  <textarea rows="9" class="input-block-level" placeholder="Your comment"></textarea>
                  <button class="btn btn-small btn-success" type="submit">Submit comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="span4">
          <aside>
            <div class="widget">
              <form class="form-search">
                <input placeholder="Type something" type="text" class="input-medium search-query">
                <button type="submit" class="btn btn-flat btn-color">Search</button>
              </form>
            </div>
            <div class="widget">
              <h4>Categories</h4>
              <ul class="cat">
                <li><a href="#">Tanaman Padi  (114)</a></li>
                <li><a href="#">Tanaman Kopi  (15)</a></li>
                <li><a href="#">Tutorial and tips (20)</a></li>
                <li><a href="#">Penerapan Teknologi (15)</a></li>
                <li><a href="#">Hasil Panen (10)</a></li>
              </ul>
            </div>
            <div class="widget">
              <h4>Recent posts</h4>
              <ul class="recent-posts">
                <li><a href="#">Dinas Pertanian Bondowoso Anggarkan Pengadaan Alat Penggiling Padi</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 03 April, 2017</span>
                  <span class="comment"><i class="icon-comment"></i> 4 Comments</span>
                </li>
                <li><a href="#">Bondowoso Kampayekan Penerapan Teknologi untuk Pacu Produktivitas Pertanian</a>
                  <div class="clear">
                  </div>
                  <span class="date"><i class="icon-calendar"></i> 28 Agustus, 2017</span>
                  <span class="comment"><i class="icon-comment"></i> 2 Comments</span>
                </li>
              </ul>
            </div>
            <div class="widget">
              <h4>Tags</h4>
              <ul class="tags">
                <li><a href="#" class="btn">Tutorial</a></li>
                <li><a href="#" class="btn">Tricks</a></li>
                <li><a href="#" class="btn">Padi</a></li>
                <li><a href="#" class="btn">Kopi</a></li>
                <li><a href="#" class="btn">Panen</a></li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <h5>Browse pages</h5>
            <ul class="regular">
              <li><a href="#">Work for us</a></li>
              <li><a href="#">Creative process</a></li>
              <li><a href="#">Case study</a></li>
              <li><a href="#">Scaffold awwards</a></li>
              <li><a href="#">Meet the team</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <h5>Recent blog posts</h5>
            <ul class="regular">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Mea malis nominavi insolens ut</a></li>
              <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
              <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="index.html">
							<img src="assets/img/logo-dark.png" alt="" />
						</a>
            <!-- end logo -->
            <address>
							<strong>Registered Companyname, Inc.</strong><br>
							 8895 Somename Ave, Suite 600<br>
							 San Francisco, CA 94107<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Serenity - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="assets/js/sequence/setting.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>


</body>

</html>
