<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Serenity - Modern bootstrap website template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">
  <link href="assets/template/front/Serenity/assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/template/front/Serenity/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/template/front/Serenity/assets/css/docs.css" rel="stylesheet">
  <link href="assets/template/front/Serenity/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href="assets/template/front/Serenity/assets/css/style.css" rel="stylesheet">
  <link href="assets/template/front/Serenity/assets/color/default.css" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/template/front/Serenity/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/template/front/Serenity/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/template/front/Serenity/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/template/front/Serenity/assets/ico/apple-touch-icon-57-precomposed.png">

  <!-- =======================================================
    Theme Name: Serenity
    Theme URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- logo -->
          <a class="brand logo" href="index.html">
			<img src="assets/img/logo.png" alt="" />
			</a>
          <!-- end logo -->
          <!-- top menu -->
          <div class="navigation">
            <nav>
              <ul class="nav topnav">
                <li class="dropdown">
                  <a href="index.html">Home</a>
                </li>
                <li class="dropdown">
                  <a href="#">Features</a>
                  <ul class="dropdown-menu">
                    <li><a href="overview.html">Overview</a></li>
                    <li><a href="scaffolding.html">Scaffolding</a></li>
                    <li><a href="base-css.html">Base CSS</a></li>
                    <li><a href="components.html">Components</a></li>
                    <li><a href="javascript.html">Javascripts</a></li>
                    <li><a href="icons.html">More icons</a></li>
                    <li class="dropdown"><a href="#">3rd level</a>
                      <ul class="dropdown-menu sub-menu">
                        <li><a href="#">Example menu</a></li>
                        <li><a href="#">Example menu</a></li>
                        <li><a href="#">Example menu</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown active">
                  <a href="#">Pages</a>
                  <ul class="dropdown-menu">
                    <li><a href="about.html">About us</a></li>
                    <li><a href="pricingtable.html">Pricing table</a></li>
                    <li><a href="fullwidth.html">Fullwidth</a></li>
                    <li><a href="404.html">404</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Portfolio</a>
                  <ul class="dropdown-menu">
                    <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                    <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                    <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                    <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Blog</a>
                  <ul class="dropdown-menu">
                    <li><a href="blog_left_sidebar.html">Blog left sidebar</a></li>
                    <li><a href="blog_right_sidebar.html">Blog right sidebar</a></li>
                    <li><a href="post_left_sidebar.html">Post left sidebar</a></li>
                    <li><a href="post_right_sidebar.html">Post right sidebar</a></li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </div>
  </header>
  <!-- Subhead
================================================== -->
  <section id="subintro">
    <div class="jumbotron subhead" id="overview">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="centered">
              <h3>Fullwidth page</h3>
              <p>
                Fundamental HTML elements styled and enhanced with extensible classes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="breadcrumb">
    <div class="container">
      <div class="row">
        <div class="span12">
          <ul class="breadcrumb notop">
            <li><a href="#">Home</a><span class="divider">/</span></li>
            <li class="active">Fullwidth</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span12">
          <h3>Visi:</h3>
          <p>
            Sebagaimana dimaklumi bahwa “visi” merupakan gambaran masa depan yang dipilih dan hendak diwujudkan pada kurun waktu tertentu. Selain itu karena visi juga sebagai suatu kondisi ideal tentang masa depan yang realistik, dapat dipercaya, meyakinkan, mengandung daya tarik, serta mendorong motivasi para pelaku pembangunan pertanian, harus diupayakan secara maksimal oleh pemerintah dan segenap lapisan mayasarakat.
            Memperhatikan potensi sumber daya alam, sumber daya manusia pertanian perkebunan dan kesiapan teknologi maju di Kabupaten Karawang, Maka Dinas Pertanian Kabupaten Karawang menetapkan Visi, yaitu :
          </p>
          <blockquote>
            <p align="center">
              "Terwujudnya Pertanian yang tangguh dan berdaya saing tahun 2018"
            </p> </br>
          </blockquote>

          <h3>Misi:</h3>
          <p> 1. Memberdayakan dan meningkatkan kualitas SDM Pertanian untuk lebih mandiri dan berdaya saing ; </p>
          <p> 2. Memantapkan usahatani terpadu dikawasan Agropolitan; </p>
          <p> 3. Meningkatkan produksi, produktivitas dan mutu hasil pertanian dalam penyediaan ketersediaan pangan yang berkualitas dan berkelanjutan ; </p>
          <p> 4. Meningkatkan sentra-sentra komoditas unggulan dan mengembangkan komoditas pangan lokal sesuai potensi lahan ; </p>
          <p> 5. Medorong terciptanya diversifikasi usahatani dalam upaya meningkatkan pendapatan petani </p> </br>
          <h3>Tujuan</h3>
          <p> 1. Mewujudkan keterpaduan dalam penggunaan sumberdaya alam dan  buatan dengan memperhatikan dan meningkatkan kualitas sumberdaya manusia ; </p>
          <p> 2. Meningkatkan pendapatan dan kesejahteraan masyarakat melalui percepatan pengembangan wilayah dan peningkatan keterkaitan antara desa dengan kota untuk mendorong berkembangnya sistem agribisnis berbasis kerakyatan, secara bertahap, berkelanjutan, dan terdisentralisasi di kawasan agropolitan; </p>
          <p> 3. Mengembangkan sumber- sumber produksi unggulan dan pangan lokal sesuai potensi lahan ;
          Mengembangkan Agroindustri dan Agrowisata .</p> </br>

          <h3>Strategi</h3>
          <p> 1. Penumbuhan dan pengembangan sentra komoditas unggulan wilayah andalan ; </p>
          <p> 2. Peningkatan intensifikasi pertanian melalui manajemen budidaya pertanian yang baik (good cultivating management); </p>
          <p> 3. Peningkatan Nilai Tukar Petani (NTP) </p>
          <p> 4. Berorientasi pada kekuatan pasar (market driven); </p>
          <p> 5. Peningkatan nilai tambah (value added) melalui manajemen pasca panen yang lebih baik (good handling processing); </p>
          <p> 6. Melakukan pemberdayaan masyarakat; </p>
          <p> 7. Peningkatan penyediaan prasarana dan sarana (infrastruktur) dasar dan penunjang serta modal kerja;
          <p> 8. Peningkatan pemanfaatan, penerapan dan penguasaan iptek;
          <p> 9. Peningkatan kerjasama atau kemitraan sinergis antar petani dan pelaku usaha;
          <p> 10. Peningkatan investasi;
          <p> 11. Pengembangan model-model pembangunan pertanian rakyat terpadu;
          <p> 12. Pemberian prioritas kepada distrik agropolitan yang perlu dikembangkan terlebih dahulu atau lebih cepat dibandingkan distrik lainnya. 
          </p> </br>

          <h3>Kebijakan</h3>

          <p> Konsep Pertanian kita mengacu kepada Masterplan Agropolitan yaitu pengembangan kawasan perkotaan dengan suasana pertanian/perdesaan yang meliputi 4 skenario: </br> 
          1. Pengembangan Agribisnis berdasarkan kewilayahan </br>
          2. Pengembangan Agriindustri (ekonomi kerakyatan) dalam rangka meningkatkan nilai tambah hasil pertanian </br>
          3.  Agrowisata </br>
          4. Pelestarian Sumberdaya Alam </p>

          <p>Kebijakan Dinas Pertanian dalam mengelola pelaksanaan program-program pembangunan untuk mencapai tujuan yang diharapkan mencakup banyak hal yaitu : </br>
          1. Peningkatan kinerja aparatur pertanian dan petani melalui pendayagunaan fasilitas serta peningkatan kemampuannya ; </br>
          2. Peningkatan Sarana dan Prasarana Pertanian ; </br>
          3. Penumbuhan Asosiasi / Forum komunikasi petani, meningkatkan swadaya masyarakat / pengusaha sebagai mitra kerja petani ; </br>
          4. Meningkatkan peran dan fungsi UPTD lingkup Dinas Pertanian ; </br>
          5. Pengembangan kawasan pusat pertumbuhan kawasan kemitraan dan kawasan pengembangan komoditas unggulan ( tanaman pangan, buah-buahan, sayuran, peternakan dan perkebunan) ; </br>
          6. Menggali potensi Swadaya masyarakat dan Investor ; </br>
          7. Pencegahan hama penyakit tanaman, ternak, dan penanggulangan bencana alam; </br>
          8. Revitalisasi kelompok, pelatihan untuk petani, pemeliharaan dan pemanfaatan sarana dan prasarana secara optimal ; </br>
          9. Kerjasama dengan masyarakat, instansi terkait dan investor untuk memantapkan  kawasan agropolitan di Kabupaten Kuningan;</p> </br>

        </div>
      </div>
    </div>
  </section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="widget">
            <h5>Browse pages</h5>
            <ul class="regular">
              <li><a href="#">Work for us</a></li>
              <li><a href="#">Creative process</a></li>
              <li><a href="#">Case study</a></li>
              <li><a href="#">Scaffold awwards</a></li>
              <li><a href="#">Meet the team</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <h5>Recent blog posts</h5>
            <ul class="regular">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Mea malis nominavi insolens ut</a></li>
              <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
              <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="widget">
            <!-- logo -->
            <a class="brand logo" href="index.html">
							<img src="assets/img/logo-dark.png" alt="" />
						</a>
            <!-- end logo -->
            <address>
							<strong>Registered Companyname, Inc.</strong><br>
							 8895 Somename Ave, Suite 600<br>
							 San Francisco, CA 94107<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
          </div>
        </div>
      </div>
    </div>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Serenity - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/modernizr.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/jquery.elastislide.js"></script>
  <script src="assets/js/sequence/sequence.jquery-min.js"></script>
  <script src="assets/js/sequence/setting.js"></script>
  <script src="assets/js/jquery.prettyPhoto.js"></script>
  <script src="assets/js/application.js"></script>
  <script src="assets/js/jquery.flexslider.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/hover/setting.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="assets/js/custom.js"></script>


</body>

</html>
